//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Sun 03 05 01:13:07 2023

IO_LOC "onboard_led[5]" L16;
IO_PORT "onboard_led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[4]" L14;
IO_PORT "onboard_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[3]" N14;
IO_PORT "onboard_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[2]" N10;
IO_PORT "onboard_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[1]" A13;
IO_PORT "onboard_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[0]" C13;
IO_PORT "onboard_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC "COL[0]" P11;
IO_PORT "COL[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[1]" R11;
IO_PORT "COL[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[2]" M15;
IO_PORT "COL[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[3]" J16;
IO_PORT "COL[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[4]" T11;
IO_PORT "COL[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[5]" T12;
IO_PORT "COL[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[6]" M14;
IO_PORT "COL[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL[7]" J14
IO_PORT "COL[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "ROW[0]" P6;
IO_PORT "ROW[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW[1]" R8;
IO_PORT "ROW[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW[2]" P8;
IO_PORT "ROW[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW[3]" T9;
IO_PORT "ROW[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW[4]" T6;
IO_PORT "ROW[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW[5]" T7;
IO_PORT "ROW[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC "COL2[0]" B11;
IO_PORT "COL2[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[1]" D11;
IO_PORT "COL2[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[2]" N7
IO_PORT "COL2[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[3]" N8;
IO_PORT "COL2[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[4]" A11;
IO_PORT "COL2[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[5]" N6;
IO_PORT "COL2[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[6]" N9;
IO_PORT "COL2[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "COL2[7]" L9
IO_PORT "COL2[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "ROW2[0]" E15;
IO_PORT "ROW2[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW2[1]" A15;
IO_PORT "ROW2[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW2[2]" A14;
IO_PORT "ROW2[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW2[3]" C12;
IO_PORT "ROW2[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW2[4]" D14;
IO_PORT "ROW2[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "ROW2[5]" B14;
IO_PORT "ROW2[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;


IO_LOC "sw" C7;
IO_PORT "sw" PULL_MODE=UP;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
